{% ckan_extends %}

{% block title_content_mx %}Datos Abiertos{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.organization %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <li>{% link_for 'Instituciones', controller='organization', action='index', locale='default', qualified=true %}</li>
      <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name, locale='default', qualified=true %}</li>
    {% else %}
      <li>{% link_for 'Datos', controller='package', action='search' %}</li>
    {% endif %}
      <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(70), controller='package', action='read', id=pkg.name, locale='default', qualified=true %}</li>
  {% else %}
    <li>{% link_for 'Datos', controller='package', action='search', locale='default', qualified=true %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
