{% extends "package/read_base.html" %}

{% block title_content_mx %}Datos Abiertos{% endblock %}

{% set pkg = c.pkg_dict %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', 'Actividad', id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {#
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
  #}
{% endblock %}

{% block content_action %}
  <a href="https://datos.gob.mx/reportar/?media_url={{g.site_url}}/busca/organization/{{h.slugify_text(pkg.organization.name)}}/dataset/{{h.slugify_text(pkg.name)}}/" class="btn btn-danger" style="float: right; padding-right: 12px !important;">Reportar</a>
  {% if h.check_access('package_update', {'id': pkg.id }) %}
    {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block extra_js %}
  {% set pkg = c.pkg_dict %}
  {% if h.check_access('package_update', {'id': pkg.id }) %}
  <script type="text/javascript">
    function registerDownload(event){
      ga('send', { 'hitType': 'pageview', 'page': '/busca/organization/{{h.slugify_text(pkg.organization.name)}}/dataset/{{h.slugify_text(pkg.name)}}/resource/'+ $(event).attr('data-slug') + '/download', 'title': 'Download: ' + $(event).attr('data-name') });
      return true;
    }
  </script>
  {% endif %}
    
{% endblock %}


{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <p class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </p>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_tags %}
  <h3 class="third-section-title">Etiquetas</h3>
  {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

{% endblock %}
