<p><strong>Metadatos</strong></p>
<div class="panel panel-default">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">
              {% if value == 'active' or 'Active' %}
                Activo
              {% else %}
                {{ _(pkg_dict.state) }}
              {% endif %}
            </td>
          </tr>
        {% endif %}

      {% block extras scoped %}
        {% for extra in h.sorted_extras_dgm(pkg_dict.extras) %}
          {% set key, value = extra %}
          {#{% if key != 'Final del periodo temporal' and key != 'Inicio del periodo temporal'%}#}
          <tr rel="dc:relation" resource="_:extra{{ i }}" style="{% if not value %}display: none;{% endif %}">
            <th scope="row" class="dataset-label" property="rdfs:label">
              {% if key == 'dataDictionary' %}
                Diccionario de Datos
              {% elif key == 'quality' %}
                Calidad de Datos
              {% elif key == 'spatial_text' %}
                Espacio geogr&aacute;fico
              {% elif key == 'dcat_issued' %}
                Creado
              {% elif key == 'dcat_modified' %}
                Ultima modificación
              {% elif key == 'dcat_publisher_email' %}
                Email del publicador
              {% elif key == 'dcat_publisher_name' %}
                Nombre del publicador
              {% elif key == 'harvest_object_id' %}
                Id del Harvest
              {% elif key == 'harvest_source_id' %}
                Fuente del Harvest
              {% elif key == 'harvest_source_title' %}
                Nombre del Harvest
              {% elif key == 'language' %}
                Lenguaje
              {% else %}
                {{ _(key) }}
              {% endif %}
            </th>
            <td class="dataset-details" property="rdf:value">
              {% if key == 'state' or key == 'State' or _(key) == 'Estado' %}
                {% if value == 'active' or 'Active' %}
                  Activo
                {% endif %}
              {% elif key == 'dataDictionary' or key == 'quality' %}
                <a href="{{value}}">{{value}}</a>
              {% else %}
                {{ value }}
              {% endif %}
            </td>
          </tr>
          {#{% endif %}#}
        {% endfor %}
      {% endblock %}
      {% endblock %}
    </tbody>
  </table>
</div>
