{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}

<form class="search-form form-inline {% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">
  {% block search_input %}
    <div class="search-input control-group col-md-12 col-sm-12 form-group search-keyword">
      <input type="text" class="form-control block" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
       <button type="submit" value="search" style="position: absolute; top: 25%; right: 20px; height: 30px; border: none; background: transparent;">
          <i class="fa fa-search"></i>
      </button>
    </div>
  {% endblock %}

  {% block search_title %}
    {% if not no_title %}
      <div class="col-md-7 col-sm-7 results-home">
        <p>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</p>
        <em>datos.gob.mx es el catálogo de Datos Abiertos del Gobierno de la República. El contenido y disponibilidad de los datos son responsabilidad de la institución publicante</em>
      </div>
    {% endif %}
  {% endblock %}

  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_sortby %}
    {% if sorting %}
      <div class="col-md-5 col-sm-5 form-group">
          <div class="pull-right" style=" width: 90%;">
              <label for="order">{{ _('Order by') }}</label>
              <div class="custom-select">
                  <select name="sort" id="field-order-by" class="form-control">
                      {% for label, value in sorting %}
                        {% if label and value %}
                          <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                {% block search_sortby_button %}
                    <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
                {% endblock %}
              </div>
          </div>
      </div>
    {% endif %}
  {% endblock %}

</form>
<!-- facets -->
<div class="col-md-12 col-sm-12">
  {% block search_facets %}
    {% if facets %}
      <p class="filters-list">
        {% for field in facets.fields %}
          <span>
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <span>{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filter-item">
              {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="btn-dismiss remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
          </span>
        {% endfor %}
      </p>
    {% endif %}
  {% endblock %}
</div>

{% if show_empty and count == 0 %}
  {% trans %}
    <p class="extra" style="float: left; margin-left: 15px;">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p style="float: left; margin-left: 15px;"><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}
